.header {
  font-size: 20px;
  text-align: center;
}

.headerLeft {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  margin-left: 30px;
}

.indented {
  font-size: 15px;
  text-align: left;
  margin-left: 30px;
}

.doubleIndented {
  font-size: 15px;
  text-align: left;
  margin-left: 70px;
}

.ThreeIndented {
  font-size: 15px;
  text-align: left;
  margin-left: 90px;
}

.body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.button {
  padding: 100px;
  font-size: 16px;
  cursor: pointer;
}

#button1 {
  background-color: #fe8080;
  color: black;
}

#button2 {
  background-color: #73cf73;
  color: black;
}

#output {
  margin-top: 20px;
  white-space: pre-line;
}

navBarHeader {
  background-color: #feabab;
  padding: 10px;
}

navBar list {
  list-style: none;
  margin: 0;
  padding: 0;
}

navBar item {
  display: inline;
  margin-right: 20px;
  width: 100%;
}

navBar a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.title-container {
  padding-bottom: 10px;
}

.section-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.member-container {
  display: flex;
  border: #3b3b3b 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 3px #888888;
  align-items: flex-start;
}

.member-container img.profile-pic {
  margin-right: 20px;
}

.member-container .name-description {
  display: flex;
  flex-direction: column;
}

.profile-pic {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
  border: #3b3b3b;
}



