#account-container {
  display: flex;
  margin: 12px auto;
  width: 90%;
  height: 100%;
}

#image-area {
  background-color: white;
  width: 20%;
  height: 60%;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

#image-area img {
  border-radius: 50%;
  margin: 10% auto 10% 15%;
  width: 70%;
}

#follow-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 8px;
}

#follow-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 8px;
}

#main-content {
  background-color: white;
  width: 80%;
  margin-left: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  min-height: 596px;
}

#main-content .bio {
  margin-left: 10px;
}

#account-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#account-header p {
  font-size: 60px;
  margin-left: 5px;
}

#account-bio {
  background-color: lightgrey;
  margin: 0 600px 5px 10px;
  padding-bottom: 50px;
}

#account-history-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

#account-history-list {
  margin: 10px;
}

#edit-profile-button {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: white;
  background-color: #900f0f;
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  text-align: center;
}

#edit-profile-button:hover {
  cursor: pointer;
}

#edit-profile-button:active {
  transform: scale(
    0.95
  );
  background-color: #7a0d0d;
}
