.category-tag {
  font-size: 14px;
  color: white;
  display: inline-block;
  padding: 2px 5px;
  margin-left: 8px;
  background-color: grey;
  border-radius: 3px;
}

.category-tag:hover {
  background-color: #4d4d4d;
  cursor: pointer;
}

#no-category-text {
  font-size: 14px;
  font-style: italic;
}
