#posts-box {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

#page-title {
  display: flex;
  justify-content: space-between;
}

#category-post-search {
  margin-left: 45%;
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
}

#sorting-dropdown {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
  cursor: pointer;
}

#sorting-dropdown option {
  text-align: center;
  cursor: pointer;
}

#sorting-dropdown option:hover {
  cursor: pointer;
}
