#box-container {
    width: 30%;
    margin: 10px 20px 30px 20px;
    border: grey solid 2px;
}

#box-container:hover {
    cursor: pointer;
}

#content-container {
    background-image: url("https://media.istockphoto.com/id/1344512181/vector/icon-red-loudspeaker.jpg?s=612x612&w=0&k=20&c=MSi3Z2La8OYjSY-pr0bB6f33NOuUKAQ_LBUooLhLQsk=");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    padding-bottom: 100%;
}

#category-title {
    margin: auto;
    width: fit-content;
    font-size: 30px;
}

#thread-count {
    width: 100%;
    background-color: darkgrey;
    text-align: center;
    padding-top: 20px;
}

#thread-count h3 {
    padding-bottom: 10px;
}