#box-container {
  width: 30%;
  margin: 10px 20px 30px 20px;
  border: grey solid 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

#box-container:hover {
  cursor: pointer;
}

#content-container {
  position: relative;
  width: 100%;
  min-height: 277px;
}

#content-container img {
  display: block;
  width: 100%;
  height: 350px;
}

#category-title {
  background-color: floralwhite;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  width: fit-content;
}

#thread-count {
  width: 100%;
  background-color: darkgrey;
  text-align: center;
  padding-top: 20px;
}

#thread-count h3 {
  padding-bottom: 10px;
}
