#box-container {
  width: 30%;
  margin: 10px 20px 30px 20px;
  border: grey solid 2px;
}

#box-container:hover {
  cursor: pointer;
}

#content-container {
  position: relative;
  width: 100%;
}

#content-container img {
  display: block;
  width: 100%;
  height: auto;
}

#category-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  width: fit-content;
  border: darkgrey solid 3px;
}

#thread-count {
  width: 100%;
  background-color: darkgrey;
  text-align: center;
  padding-top: 20px;
}

#thread-count h3 {
  padding-bottom: 10px;
}
