#edit-profile-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  background: white;
}

#edit-profile-container #bi-arrow-left {
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  top: 0;
  left: 0;
  color: #900f0f;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#edit-profile-container #bi-arrow-left:hover {
  transform: scale(1.1);
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

#form-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#form-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

#button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  background-color: #900f0f;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#button:active {
  transform: scale(0.95);
  background-color: #7a0d0d;
}

.input-form {
  position: relative;
}


.error-message {
  color: red;
}

@media (max-width: 600px) {
  #button {
    padding: 15px;
    font-size: 18px;
  }

  #form-container input {
    padding: 15px;
    font-size: 18px;
  }

  #form-container label {
    font-size: 20px;
  }
}
