#posts-box {
  background-color: white;
}

#page-title {
  display: flex;
  justify-content: space-between;
}

#sorting-dropdown {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
  cursor: pointer;
}

#sorting-dropdown option {
  text-align: center;
  cursor: pointer;
}

#sorting-dropdown option:hover {
  cursor: pointer;
}