#posts-box {
  background-color: white;
}

#page-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.page-header {
  width: 100%;
}

#home-post-search {
  margin-left: 20%;
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
}

#sorting-dropdown {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
  cursor: pointer;
}

#sorting-dropdown option {
  text-align: center;
  cursor: pointer;
}

#sorting-dropdown option:hover {
  cursor: pointer;
}

.post-list {
  margin-bottom: 30px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: #900f0f;
  color: white;
}

.pagination .active {
  background-color: #900f0f;
  color: white;
}
