#add-post-container {
  display: flex;
  margin: 12px auto;
  width: 90%;
  height: 100%;
}

.add-post-input-text {
  margin-bottom: 10px;
  width: 80%;
  height: 300px;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  resize: vertical;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.add-post-input-title {
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  resize: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.invalid-input {
  border: 1px solid red;
}

.char-remaining {
  margin-right: 8px;
}

.title-error-message {
  color: red;
}

.body-error-message {
  color: red;
}

.add-post-category {
  margin-bottom: 10px;
  margin-left: 20px;
  width: 5%;
  /*display: flex;*/
  /*align-items: flex-start;*/
  border-radius: 5px;
  /*padding: 25px;*/
  margin-bottom: 10px;
  transform: scale(1.5);
  display: inline;
  cursor: pointer;
}

.add-post-category-label {
  display: block;
  line-height: 2;
}

.add-post-submit-button {
  width: 100px;
  height: 70px;
  font-size: 20px;
  margin-bottom: 40px;
  margin-left: 450px;
  background-color: #a4150b;
  color: white;
  border: black;
  border-radius: 10px;
}

#image-area {
  background-color: white;
  width: 20%;
  height: 60%;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

#image-area img {
  border-radius: 50%;
  margin: 10% auto 10% 15%;
  width: 70%;
}

#main-content {
  background-color: white;
  width: 80%;
  margin-left: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  min-height: 596px;
}

#main-content .title {
  margin-left: 10px;
}

#post-title-heading {
  padding-left: 20px;
  margin: 10px;
}
