#single-post-container {
}

#single-post-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#time-since {
  white-space: nowrap;
}

#single-post-comments-container {
  margin-left: 30px;
  margin-top: 20px;
}

#comments-title {
  margin-bottom: 10px;
}

#edit-post-link {
}
