#user-image {
  width: 70px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.user-info-small {
  display: flex;
  flex-direction: column;
  text-align: center;
  pointer-events: auto;
  transition: transform 0.3s ease-in-out;
}

.user-info-small:hover {
  transform: scale(1.1);
}

.user-name {
  text-decoration: none;
  color: inherit;
}
